::ng-deep{
    .stepperContainer{
        mat-card{
            margin: auto;
            margin-top: 1rem;
            width: 23rem;
            box-shadow: unset !important;
            
            .mat-form-field-prefix{
                top: 0px;
            }
            .mat-card-header-text{
                color: #202069;
                text-align: center;
                width: 100%;
            }
            .mat-card-title, .mat-card-subtitle{
                width: 100%;
            }
            .mat-card-subtitle{
                font-size: 12px;
            }
            .mat-form-field{
                width: 100%;
            }
            ng-otp-input, mat-card-header{
                text-align: center;
            }
            mat-card-header{
                margin-bottom: 0.5rem;
            }
        }
        .timerCount{
            padding: 2rem;
            
            mat-icon{
                font-size: 2rem;
            }
        }
        .mat-horizontal-stepper-header-container{
            background: #04506d;
            height: 35px;
            color: white;
            padding: 0px 20vw;
        
            .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected{
                background: #f44336;
                color: white
            }
            .mat-step-icon-state-number, .mat-step-header .mat-step-icon-state-edit{
                background: #033e54;
                color: rgb(211, 211, 211);
            }
            .mat-step-text-label{
                color:white;
            }
            .mat-stepper-horizontal-line{
                background: white;
            }
        }
        mat-step-header{
            height: 100%;
        }
        mat-card mat-radio-group mat-radio-button{
            padding-left: 1rem;
        }
        .logoThumb{
            height: 41px;
            width: auto;
            float: right;
        }
    }
}